 <ul class="list-group">
  <li class="list-group-item active">Colors</li>
  <li
    *ngFor="let color of colors"
    (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{ color.colorId }}"
    [class]="getCurrentColorClass(color)"
  >
    {{ color.colorName }}
  </li>
</ul>

<!-- 
<select class="form-select">
  <option *ngFor="let color of colors"
    (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{ color.colorId }}"
    [class]="getCurrentColorClass(color)">{{ color.colorName }}
  </option>
</select> -->

<!-- <div class="form-floating">
  <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
    <option *ngFor="let color of colors"
      (click)="setCurrentColor(color)"
      routerLink="/cars/color/{{ color.colorId }}"
      [class]="getCurrentColorClass(color)">{{ color.colorName }}
    </option>
  </select>
  <label for="floatingSelectGrid">Works with selects</label>
</div> -->