<ul class="list-group">
  <li class="list-group-item active">Brands</li>
  <li
    (click)="setCurrentBrand(brand)"
    routerLink = "/cars/brand/{{brand.brandId}}"
    *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)"
  >
    {{ brand.brandName }}
  </li>
</ul>


<!-- <select class="form-select" aria-label="Default select example">
  <option (click)="setCurrentBrand(brand)"
  routerLink = "/cars/brand/{{brand.brandId}}"
  *ngFor="let brand of brands"
  [class]="getCurrentBrandClass(brand)">{{ brand.brandName }}</option>
</select> -->

<!-- 
<div class="form-floating">
  <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
    <option (click)="setCurrentBrand(brand)"
      routerLink = "/cars/brand/{{brand.brandId}}"
      *ngFor="let brand of brands"
      [class]="getCurrentBrandClass(brand)">{{ brand.brandName }}
    </option>
  </select>
  <label for="floatingSelectGrid">Works with selects</label>
</div> -->