<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
  <div class="row">
    <div *ngFor="let car of cars" class="col-md-4">
      <div class="card" style="width: 14rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{ car.description }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Model Year: {{ car.modelYear }}</li>
          <li class="list-group-item">Daily Price: {{ car.dailyPrice }} ₺</li>
        </ul>
        <div class="card-body">
            <section style="float:left">
                <button routerLink="/cars/details/{{car.id}}" type="button" class="btn btn-primary">Details</button>
              </section>
        </div>
      </div>
      <br>
       
    </div>
    
</div>
